.scrollup {
  position: fixed;
  right: 2.5rem;
  bottom: -20%;
  background: hsl(0, 0%, 20%);
  opacity: 0.8;
  padding: 0.3rem 0.5rem;
  transition: 0.4s;
  border-radius: 0.4rem;
  z-index: 10;
}

.scrollup__icon {
  font-size: 1.25rem;
  color: #fff;
}

.scrollup:hover {
  background-color: hsl(0, 0%, 0%);
}

.show-scrollup {
  bottom: 3rem;
}

@media screen and (max-width: 992px) {
  .scrollup {
    right: 1.5rem;
    padding: 0.25rem 0.4rem;
  }
}

@media screen and (max-width: 768px) {
  .show-scrollup {
    bottom: 4rem;
  }
}

@media screen and (max-width: 992px) {
  .scrollup {
    right: 1rem;
  }
}
