.home__content {
  grid-template-columns: 116px repeat(2, 1fr);
  padding-top: 5.5rem;
  column-gap: 2rem;
  align-items: center;
}

.home__social {
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;
}

.home__social-icon {
  color: hsl(0, 0%, 20%);
  font-size: 1.25rem;
}

.home__social-icon:hover {
  color: hsl(0, 0%, 0%);
}

.home__title {
  font-size: 3.5rem;
  margin-bottom: 0.25rem;
}

.home__hand {
  margin-left: 0.4rem;
  width: 35px;
  height: 35px;
}

.home__subtitle {
  position: relative;
  font-size: 1.25rem;
  padding-left: 5.4rem;
  margin-bottom: 1rem;
  font-weight: 400;
}

.home__subtitle::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 1px;
  background-color: hsl(0, 0%, 20%);
  top: 1rem;
  left: 0;
}

.home__description {
  max-width: 400px;
  margin-bottom: 3rem;
}

.home__img {
  background: url("../../assets/profile.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 300px;
  height: 300px;
  /* border-radius: 50%; */
  /* box-shadow: horizontalOffset verticalOffset blurRadius spreadRadius color*/
  /* inset means shadow will appear inside the element otherwsie it appears outward */
  box-shadow: inset 0 0 0 9px rgb(255 255 255/30%);
  order: 1; /* placed the element after element with default order 0 */
  justify-self: center;
  animation: profile-animate 6s ease-in-out infinite 1s;
}

@keyframes profile-animate {
  0% {
    border-radius: 60% 40% 30% 70%/ 60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/ 50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/ 60% 30% 70% 40%;
  }
}
