.contact__container {
  grid-template-columns: repeat(2, max-content);
  justify-content: center;
  column-gap: 6rem;
  padding-bottom: 3rem;
}

.contact__title {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.contact__info {
  display: grid;
  row-gap: 1rem;
  grid-template-columns: 300px;
}

.contact__card {
  background-color: hsla(36, 31%, 90%, 1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.75rem;
  padding: 1rem;
  text-align: center;
  transition: transform 0.4s ease-in-out;
}

.contact__card:hover {
  background: #fff;
  transform: scale(1.1);
}

.contact__card-icon {
  font-size: 2rem;
  margin-bottom: 0.25rem;
  color: hsl(0, 0, 20%);
  transition: transform 0.5s ease-in-out;
}

.contact__card-icon:hover {
  transform: scale(1.2);
}

.contact__card-title,
.contact__card-data {
  font-size: 0.875rem;
}

.contact__card-title {
  font-weight: 500;
}

.contact__card-data {
  display: block;
  margin-bottom: 0.75rem;
}

.contact__button {
  color: hsl(0, 0%, 46%);
  font-size: 0.875rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.25rem;
}

.contact__button-icon {
  font-size: 1rem;
  transition: 0.3s;
}

.contact__button:hover .contact__button-icon {
  transform: translate(0.25rem);
}

.contact__form {
  width: 360px;
}

.contact__form-div {
  height: 4rem;
  position: relative;
  margin-bottom: 2rem;
}

.contact__form-input {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0.3);
  background: none;
  color: hsl(0, 0%, 20%);
  outline: none;
  border-radius: 0.75rem;
  padding: 1.5rem;
  z-index: 1;
}

.contact__form-tag {
  position: absolute;
  top: -0.75rem;
  left: 1.25rem;
  z-index: 10;
  padding: 0.25rem;
  background: hsla(36, 31%, 90%, 1);
  font-size: 0.813rem;
}

.contact__form-area {
  height: 11rem;
}

.contact__form-area textarea {
  resize: none;
}

@media screen and (max-width: 992px) {
  .contact__container {
    column-gap: 3rem;
  }
}

@media screen and (max-width: 768px) {
  .contact__container {
    grid-template-columns: 1fr;
    row-gap: 3rem;
  }

  .contact__info {
    justify-content: center;
  }

  .contact__content {
    margin: 0 auto;
  }
}

@media screen and (max-width: 576px) {
  .contact__info {
    grid-template-columns: 1fr;
  }

  .contact__form {
    width: 100%;
  }
}
